body {
    max-width: 600px;
    margin: 0 auto;
    font-family: serif;
    background-color: #000;
    color: #fff;
}

.product-gallery-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0; /* 画像間の隙間をなくす */
    padding: 0; /* パディングを0に設定 */
}

.product-gallery-01 img {
    width: 100%;
    height: auto;
    margin-top: 30px; /* マージンを0に設定 */
    padding: 0; /* パディングを0に設定 */
    display: block; /* 隙間をなくすためにdisplay: blockを設定 */
    border: none; /* 境界線を削除 */
}

.product-gallery-02 .gallery-left {
    width: 70%;
    float: left;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 40px;
}



.product-gallery-03 img{
    width: 70%;
    float: right;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 40px;
}

.FirstViewText{
    color: #fff;
    text-align: center;
    padding: 20px;
    overflow-wrap:  break-word;
}

.SecondContents img{
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px rgba(255, 147, 222, .1);
}

.product-gallery-04 {
    text-align: center;
    display: flex;
    gap: 20px;
}


.product-gallery-04 img {
    width: 100%;
    height: 100%;
}

.text {
    clear: both;
    text-align: center;
    margin-bottom: 80px;
}



a.btn01 {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	background-image: linear-gradient(to right, #d927a4 0%, #6c83eb 100%);
	border-radius: 100vh;
	color: #fff;
	border: 2px solid #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	transition: 0.5s;
    margin-bottom: 70px;
}
a.btn01:hover {
	color: #fff;
	background-image: linear-gradient(to left, #27acd9 0%, #b4e12b 100%);
}



/* モバイルスタイル */
@media (max-width: 599px) {
    .hero {
        height: 300px;
    }

    .hero-text {
        font-size: 32px;
    }

    .product-gallery img {
        max-width: 100%;
        border: none;
    }

    .cta-button {
        padding: 15px 30px;
        font-size: 20px;
    }

    .SecondContents img{
	border-radius: 20px;
	box-shadow: 0px 0px 18px 18px rgba(255, 147, 222, .1);
    }
}
